snippet be "b/e range" w
std::begin(${1}), std::end(${2:$1})
endsnippet

snippet cbe "cb/ce range" w
std::cbegin(${1}), std::cend(${2:$1})
endsnippet

snippet rbe "rb/re range" w
std::rbegin(${1}), std::rend(${2:$1})
endsnippet

snippet crbe "crb/cre range" w
std::crbegin(${1}), std::crend(${2:$1})
endsnippet
